<div class="itens-container">
  <header class="itens-header">
    <h2 class="header-title">Itens do pedido {{ pedido.numero_do_pedido }}</h2>
    <div class="header-parameters">
      <div class="client-info">
        <span class="client-label">Contato:</span>
        <span class="client-contato">{{ pedido.clienteObj?.contato }}</span>
      </div>
      <div class="pedido-date">
        <span class="pedido-label">Data do pedido:</span>
        <span class="pedido-data">{{ pedido.created_at | date: 'dd/MM/yy HH:mm' }}</span>
      </div>
    </div>
  </header>

  <div class="table-responsive-container">
    <table class="itens-table">
      <thead>
        <tr>
          <th>Nome do Item</th>
          <th>Tipo</th>
          <th>Quantidade</th>
          <th>Medida 1</th>
          <th>Medida 2</th>
          <th>Furo</th>
          <th>Fluxo</th>
          <th>Arquivo</th>
        </tr>
      </thead>
      <tbody>
        @for (item of itens; track item.id) {
          <tr>
            <td data-label="Nome">{{ item.nome }}</td>
            <td data-label="Tipo">{{ item.tipo }}</td>
            <td data-label="Quantidade">{{ item.quantidade }}</td>
            <td data-label="Medida 1">{{ item.medida_1 }}</td>
            <td data-label="Medida 2">{{ item.medida_2 }}</td>
            <td data-label="Furo">{{ item.furo}}</td>
            <td data-label="Fluxo">
              <div class="select-wrapper">
                <select 
                  class="fluxo-select" 
                  [class]="'tag fase'"
                  [ngModel]="item.fluxo_nome" 
                  (ngModelChange)="onFluxoChange(item, $event)">
                    @if (item.fluxo_nome == null) {
                      <option [ngValue]="item.fluxo_nome" disabled selected>
                        Fluxo
                      </option>
                    }
                    @for (fluxo of item.fluxos_disponiveis; track fluxo.id) {
                      <option [value]="fluxo.nome">
                        {{ fluxo.descricao }}
                      </option>
                    }
                </select>
              </div>
            </td>
            <td data-label="Arquivo">
              <div class="file-upload-cell">
                <input 
                  type="file" 
                  [id]="'file-' + item.id" 
                  (change)="onFileSelected($event, item)"
                  hidden>
                
                @if (item.arquivo_url) {
                  <!-- Mostra o arquivo anexado -->
                  <div class="file-attached">
                    <a [href]="item.arquivo_nome" target="_blank" class="file-link">
                      {{ item.arquivo_nome }}
                    </a>
                    <button 
                      class="btn-remove-file" 
                      (click)="removerArquivo(item)"
                      title="Remover">×</button>
                  </div>
                } @else {
                  <!-- Botão para anexar -->
                  <button 
                    class="btn-upload" 
                    (click)="triggerFileInput(item.id)">
                      <span>Anexar</span>
                  </button>
                }
              </div>
            </td>
          </tr>
        }
        <tr *ngIf="!itens || itens.length === 0">
          <td colspan="6" class="no-items-message">Nenhum item encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>