<div class="table-container">
  <div>
      <input type="text" placeholder="Buscar por nome..." class="search-input">
      <select class="filter-select">
        <option value="">Todos os Tipos</option>
        <option value="vidro">Vidro</option>
        <option value="perfil">Perfil</option>
        <option value="acessorio">Acessório</option>
      </select>
      <button class="btn-add-item">Adicionar Item</button>
  </div>
  <table class="production-table">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>N° do Pedido</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let pedido of pedidos">
        <tr>
          <td data-label="Cliente"> {{ pedido.clienteObj?.nome }}</td>
          <td data-label="Vendedor"> {{ pedido.usuario_responsavelObj?.nome }}</td>
          <td data-label="Nº Pedido">{{ pedido.numero_do_pedido }}</td>
          <td data-label="Status">
            <span class="tag" [class]="'status-' + pedido.status">{{ pedido.statusDisplay }}</span>
          </td>
          <td data-label="Ações">
            <button class="action-button" (click)="toggleItens(pedido.id)">+</button>
          </td>
        </tr>

        @if (pedidoSelecionadoId === pedido.id) {
          <tr class="itens-row" [animate.enter]="enterClass()" >
            <td  colspan="5" class="itens-row" animate.leave="leaving">
              <app-tabela-itens-encaminhamento [pedido]="pedido" ></app-tabela-itens-encaminhamento>
              <app-pedido-file-upload [pedidoId]="pedido.id"></app-pedido-file-upload>
              <app-form-pedido
                [textoInicial]="pedido.observacoes" 
                [prioridadeInicial]="pedido.prioridade"
                (formChange)="onFormChange($event, pedido)">
              </app-form-pedido>
            </td>
          </tr>
        }
      </ng-container>

      <tr *ngIf="pedidos.length === 0 && !erroAoCarregar">
        <td colspan="7" style="text-align: center;">Nenhum pedido encontrado.</td>
      </tr>

      <tr *ngIf="erroAoCarregar">
        <td colspan="7" style="text-align: center; color: red;">Ocorreu um erro ao carregar os pedidos.</td>
      </tr>
    </tbody>
  </table>
</div>