<div class="table-container">
  <app-pedido-filter 
    class="pedido-filter"
    [vendedores]="listaDeVendedores" 
    (filtroChange)="onFiltroChange($event)">
  </app-pedido-filter>
  <table class="production-table">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Vendedor</th>
        <th>N° do Pedido</th>
        <th>Emissão</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let pedido of pedidos">
        <tr>
          <td data-label="Cliente"> {{ pedido.cliente_nome }}</td>
          <td data-label="Vendedor"> {{ pedido.vendedor_nome }}</td>
          <td data-label="Nº Pedido">{{ pedido.numero_do_pedido }}</td>
          <td data-label="Emissão">{{ pedido.data_inicial| date: 'dd/MM/yy HH:mm' }}</td>
          <td data-label="Status">
            <span class="tag" [class]="'status-' + pedido.status">{{ pedido.statusDisplay }}</span>
          </td>
          <td data-label="Ações">
            <button class="action-button" (click)="toggleItens(pedido.id)">+</button>
          </td>
        </tr>

        @if (pedidoSelecionadoId === pedido.id) {
          <tr class="itens-row" animate.enter="enter-animation" >
            <td  colspan="6" class="itens-row" animate.leave="leaving">
              <div class="details-wrapper">
                <app-tabela-itens-encaminhamento 
                  #itensEnc 
                  [pedido]="pedido" >
                </app-tabela-itens-encaminhamento>
                <app-pedido-file-upload 
                  [pedidoId]="pedido.id"
                  (uploadCompleto)="itensEnc.recarregarItens()">
                </app-pedido-file-upload>
                <app-form-pedido
                  [pedidoId]="pedido.id"
                  [textoInicial]="pedido.observacoes" 
                  [prioridadeInicial]="pedido.prioridade"
                  [prazoInicial]="pedido.prazo"
                  (pedidoDeletado)="onPedidoDeletado($event)"
                  (formSubmit)="salvarForm(pedido)"
                  >
                </app-form-pedido>
              </div>
            </td>
          </tr>
        }
      </ng-container>

      <tr *ngIf="pedidos.length === 0 && !erroAoCarregar">
        <td colspan="6" style="text-align: center;">Nenhum pedido encontrado.</td>
      </tr>

      <tr *ngIf="erroAoCarregar">
        <td colspan="6" style="text-align: center; color: red;">Ocorreu um erro ao carregar os pedidos.</td>
      </tr>
    </tbody>
  </table>

  @if(!erroAoCarregar && totalDePedidos > itensPorPagina){
    <app-pagination
      [paginaAtual]="paginaAtual"
      [totalDeItens]="totalDePedidos"
      [itensPorPagina]="itensPorPagina"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  }

</div>