@use 'ngx-toastr/toastr';

body {
    background-color: rgb(248, 248, 248);
}

@font-face {
    font-family: 'primeicons';
    src: url('/fonts/primeicons.woff2') format('woff2'),
         url('/fonts/primeicons.woff') format('woff'),
         url('/fonts/primeicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.pi {
    font-family: 'primeicons';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}