
@if (podeCadastrar) {
  <div class="cadastro-page">
    <app-navbar></app-navbar>
    <!--<app-topbar></app-topbar>-->
    <header class="page-header">
      <h1>Painel de Cadastro</h1>
    </header>

    <main class="page-content">
      <section class="component-section">
        <h2>Resumo do Encaminhamento</h2>
        <app-form-cadastro-pedido ></app-form-cadastro-pedido>
      </section>
    </main>
  </div>
} @else {
  <div class="cadastro-page">
    <app-navbar></app-navbar>
    Você não tem permissão para acessar esta página.
  </div>
}
