<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="logo">
      <img src="assets/logoyamada.svg" alt="Logo YAMADA">
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/producao" routerLinkActive="active-link">
        <span class="link-text">Produção</span>
      </a>
    </li>
    <li>
      <a routerLink="/finalizados" routerLinkActive="active-link">
        <span class="link-text">Finalizados</span>
      </a>
    </li>
    <li>
      <a routerLink="/laser" routerLinkActive="active-link">
        <span class="link-text">Laser</span>
      </a>
    </li>
    @if (isAdmin || isGerente || isVendedor) {
      <li>
        <a routerLink="/encaminhamento" routerLinkActive="active-link">
          <span class="link-text">Encaminhamento</span>
        </a>
      </li>
    }
    @if (isAdmin || isGerente) {
      <li>
        <a routerLink="/cadastro" routerLinkActive="active-link">
          <span class="link-text">Cadastrar Pedido</span>
        </a>
      </li>
    }
    @if(isAdmin) {
      <li>
        <a routerLink="/usuarios" routerLinkActive="active-link">
          <span class="link-text">Gerenciar Usuários</span>
        </a>
      </li>      
      <li>
        <a routerLink="/cadastro-fluxo" routerLinkActive="active-link">
          <span class="link-text">Cadastro de Fluxo</span>
        </a>
      </li>
    }
  </ul>

  <div class="sidebar-footer">
    <a href="#" class="user-profile">
      <div class="avatar-initials">{{usuario.nome[0]}}</div>
      <span class="user-name">{{usuario.nome}}</span>
    </a>
    <a href="#" class="logout">
      <i class="icon-logout"></i>
    </a>
    <button class="btn btn-secondary" (click)="logout()">Sair</button>
  </div>
</nav>