<nav class="sidebar">
  <div class="sidebar-header">
    <a href="#" class="logo">
      <img src="assets/logoyamada.svg" alt="Logo YAMADA">
    </a>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active-link">
        <i class="icon-dashboard"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/producao" routerLinkActive="active-link">
        <i class="icon-production"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Produção</span>
      </a>
    </li>
    <li>
      <a routerLink="/encaminhamento" routerLinkActive="active-link">
        <i class="icon-shipping"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Encaminhamento</span>
      </a>
    </li>
    <li>
      <a routerLink="/pedidos" routerLinkActive="active-link">
        <i class="icon-orders"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Pedidos</span>
      </a>
    </li>
    <li>
      <a routerLink="/configuracoes" routerLinkActive="active-link">
        <i class="icon-settings"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Configurações</span>
      </a>
    </li>
    <li>
      <a routerLink="/cadastro" routerLinkActive="active-link">
        <i class="icon-settings"></i> <!-- Substitua pela sua classe de ícone -->
        <span class="link-text">Cadastrar Pedido</span>
      </a>
    </li>
  </ul>

  <div class="sidebar-footer">
    <a href="#" class="user-profile">
      <div class="avatar-initials">H</div>
      <span class="user-name">Hideki</span>
    </a>
    <a href="#" class="logout">
      <i class="icon-logout"></i> <!-- Substitua pela sua classe de ícone -->
    </a>
  </div>
</nav>