<form (ngSubmit)="salvarForm()">
  <div class="prioridade-container">
    <h4 class="prioridade-title">Prioridade</h4>
    <select 
      class="prioridade-select" 
      name="prioridade"
      [(ngModel)]="prioridade"
      (ngModelChange)="onPrioridadeMudou($event)">
      <option value="baixa">Baixa</option>
      <option value="normal">Normal</option>
      <option value="alta">Alta</option>
      <option value="urgente">Urgente</option>
    </select>
  </div>
  <div class="prazo-container">
    <h4 class="prazo-title">Prazo de Entrega</h4>
    <div class="prazo-inputs-group">
      <p-datepicker
        #prazo 
        [(ngModel)]="prazo" 
        name="prazo"
        dateFormat="dd/mm/yy" 
        [showIcon]="true" 
        [showTime]="true"
        [readonlyInput]="true"
        [hideOnDateTimeSelect]="false"
        placeholder="Seleciona data e hora">

        <ng-template pTemplate="footer">
        <div style="padding: 0.5rem; border-top: 1px solid #ddd; text-align: right;">
            <p-button 
                label="Confirmar (OK)" 
                icon="pi pi-check" 
                size="small"
                (onClick)="onConfirmar(prazo)">
                
            </p-button>
        </div>
      </ng-template>

      </p-datepicker>
    </div>
  </div>
  <div class="observacoes-container">
    <h4 class="observacoes-title">Observações</h4>
    <textarea 
      class="observacoes-textarea"
      name="observacoes" 
      [ngModel]="texto"
      (ngModelChange)="onTextoMudou($event)"
      placeholder="Digite uma observação sobre o pedido..."
      rows="4">
    </textarea>
    <div class="btn-obs" (click)="salvarObservacao()"> Salvar Observação </div>
  </div>
  
  <button 
    type="submit"
    class="form-button enviar">
    Enviar para Produção
  </button>
  @if (isAdminOrGerente) {
    <!---
    <button 
      type="submit"
      class="form-button edit"
      (click)="editarPedido()">
      Editar Pedido
    </button>
    -->
    <button 
      type="button"
      class="form-button delete"
      (click)="deletarPedido()">
      Deletar Pedido
    </button>
  }
</form>