<div class="producao-page">
  <app-navbar></app-navbar>
  <!---<app-topbar></app-topbar>--->
  <header class="page-header">
    <h1>Painel de Produção</h1>
    <div class="actions">
      <!-- Exemplo de botões de ação -->
      <button class="btn btn-primary">Novo Pedido</button>
      <button class="btn btn-secondary">Filtros</button>
    </div>
  </header>

  <main class="page-content">
    <section class="component-section">
      <h2>Resumo da Produção</h2>
      <app-tabela-producao></app-tabela-producao>
    </section>
  </main>
</div>

