<div class="itens-container">
  <app-item-filter 
    class="item-filter"
    [operadores]="operadores" 
    (filtroChange)="onFiltroChange($event)">
  </app-item-filter>

  <div class="table-responsive-container">
    <div class="edit-buttons">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-user"></i>
        </p-inputgroup-addon>
        <p-select 
          [options]="operadores" 
          [(ngModel)]="selectedOperador"
          (ngModelChange)="atualizarOperador($event)"
          optionLabel="nome" 
          placeholder="Selecionar Operador"
          [showClear]="true"
          [disabled]="selectedItens.size === 0" />
      </p-inputgroup>
      <button pButton severity="info" (click)="downloadArquivosSelecionados()" [disabled]="selectedItens.size === 0">
        <i class="pi pi-download" pButtonIcon></i>
        <span pButtonLabel>Baixar Arquivos</span>
      </button>
        <button pButton (click)="atualizarFases()" [disabled]="selectedItens.size === 0">
          <i class="pi pi-check" pButtonIcon></i>
          <span pButtonLabel>Concluir</span>
      </button>
    </div>
    <table class="itens-table">
      <thead>
        <tr>
          <th>
            <p-checkbox 
              class="select-all"
              [binary]="true" 
              size="large"
              (ngModelChange)="selectAllItens($event)"
              [(ngModel)]="selectAll">
            </p-checkbox>
            Cliente
          </th>
          <th>
            Operador
          </th>   
          <th>Material</th>
          <th>Tipo</th>
          <th>Qtd</th>
          <th>Med</th>
          <th>Arquivo</th>
        </tr>
      </thead>
      <tbody>
        @for (item of itens; track item.id) {
          <tr>
            <td data-label="Cliente">
              <div class="cliente-container">
                <p-checkbox 
                  [binary]="true" 
                  size="large"
                  [ngModel]="isItemSelected(item)"
                  (ngModelChange)="onItemSelect(item, $event)">
                </p-checkbox>
                {{ item.cliente_nome }}
              </div>
            </td>
            <td data-label="Usuário Responsável">{{ item.operador_nome || 'Sem operador' }}</td>
            <td data-label="Material">{{ item.nome }}</td>
            <td data-label="Tipo">{{ item.tipo }}</td>
            <td data-label="Quantidade">{{ item.quantidade }}</td>
            <td data-label="Medidas">
              @if (item.medida_1 === 'N/A' || item.medida_2 === 'N/A') {
                N/A
              } @else {
                {{ item.medida_1 | number:'1.3-3' }} x {{ item.medida_2 | number:'1.3-3' }}
              }
            </td>
            <td data-label="Arquivo">
              @if (item.arquivo_url && item.arquivo_nome) {
                <a (click)="downloadArquivo(item, $event)" 
                class="file-link"
                style="cursor: pointer;"
                title="Clique para baixar">
                  {{ item.arquivo_nome }}
                </a>
              } @else {
                <span class="no-file">Sem arquivo</span>
              }
            </td>

          </tr>
        }
        @if (itens.length === 0) { 
            <tr>
                <td colspan="7" class="no-items-message">Nenhum item encontrado.</td>
            </tr>
        }
      </tbody>
    </table>
  </div>
  @if(!erroAoCarregar && totalDeItens > itensPorPagina){
    <app-pagination
      [paginaAtual]="paginaAtual"
      [totalDeItens]="totalDeItens"
      [itensPorPagina]="itensPorPagina"
      (pageChange)="onPageChange($event)">
    </app-pagination>
  }
</div>