<div class="itens-container">
  <header class="itens-header">
    <h2 class="header-title">Itens do pedido {{ pedido.numero_do_pedido }}</h2>
    <div class="header-parameters">
      <div class="client-info">
        <span class="client-label">Contato:</span>
        <span class="client-contato">{{ pedido.clienteObj?.contato }}</span>
      </div>
      <div class="pedido-date">
        <span class="pedido-label">Data do pedido:</span>
        <span class="pedido-data">{{ pedido.created_at | date: 'dd/MM/yy HH:mm' }}</span>
      </div>
    </div>
  </header>

  <div class="table-responsive-container">
    <table class="itens-table">
      <thead>
        <tr>
          <th>Nome do Item</th>
          <th>Tipo</th>
          <th>Quantidade</th>
          <th>Medida 1</th>
          <th>Medida 2</th>
          <th>Furo</th>
          <th>Fase</th>
          <th>Concluir Item</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itens">
          <td data-label="Nome">{{ item.nome }}</td>
          <td data-label="Tipo">{{ item.fluxo_nome | slice:0:3 }}</td>
          <td data-label="Quantidade">{{ item.quantidade }}</td>
          <td data-label="Medida 1">{{ item.medida_1 }}</td>
          <td data-label="Medida 2">{{ item.medida_2 }}</td>
          <td data-label="Furo">{{ item.furo}}</td>
          <td data-label="Fase">
            <span [class]="'tag fase-' + item.fase_atual_nome">{{ item.fase_atual_nome }}</span>
          </td>
          <td data-label="Concluir">
            <button class="action-button">Concluir Fase</button>
          </td>
          <td data-label="Ações">
            <button class="action-button">Editar</button>
          </td>
        </tr>
        
        <tr *ngIf="!itens || itens.length === 0">
          <td colspan="6" class="no-items-message">Nenhum item encontrado.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>