$topbar-height: 65px;
$topbar-bg-color: #68b04d;
$topbar-border-color: #e7e7e7;
$text-color: #333;
$accent-color: #007bff;
$mobile-breakpoint: 768px; // Ponto de quebra para o menu responsivo


.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  height: $topbar-height;
  background-color: $topbar-bg-color;
  border-bottom: 1px solid $topbar-border-color;
  position: fixed;
  top: 0;
  left: 250px; // Este valor precisará ser ajustado se você tiver uma sidebar
  right: 0;
  z-index: 1000; 
  border-left: 1px solid #56943f;

}