<div class="filter-container">
  <div class="filter-grid">

    <div class="filter-group">
      <label for="filtro-material">Material</label>
      <select 
        id="filtro-material" 
        class="filter-select"
        [(ngModel)]="filtros.material"
        (ngModelChange)="onFiltroChange()">
        <option [ngValue]="''">Todos</option>
        <option *ngFor="let material of materiais" [ngValue]="material">
          {{ material }}
        </option>
      </select>
    </div>
    <div class="filter-group">
      <label for="filtro-operador">Operador</label>
      <select 
        id="filtro-operador" 
        class="filter-select"
        [(ngModel)]="filtros.operador_nome"
        (ngModelChange)="onFiltroChange()">
        <option [ngValue]="''">Todos</option>
        <option *ngFor="let operador of operadores" [ngValue]="operador.nome">
          {{ operador.nome }}
        </option>
      </select>
    </div>
    <!----
    <div class="filter-group">
      <label for="filtro-operador">Operador</label>
      <select 
        id="filtro-operador" 
        class="filter-select"
        [(ngModel)]="filtros.operador_nome"
        (ngModelChange)="onFiltroChange()">
        <option [ngValue]="null">Todos</option>
        <option *ngFor="let operador of operadores" [ngValue]="operador.nome">
          {{ operador.nome }}
        </option>
      </select>
    </div>

    <div class="filter-group">
      <label for="filtro-cliente">Cliente</label>
      <select 
        id="filtro-cliente" 
        class="filter-select"
        [(ngModel)]="filtros.cliente_nome"
        (ngModelChange)="onFiltroChange()">
        <option [ngValue]="null">Todos</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente.nome">
          {{ cliente.nome }}
        </option>
      </select>
    </div>
    -->
  </div>

  <div class="filter-actions">
    <button type="button" class="btn-limpar" (click)="limparFiltros()">
      Limpar Filtros
    </button>
  </div>
</div>